<div id='wrapper' class='application'>
  <div id='site'>
    <header id='main-header'>
      <div class='max-width'>
        <hgroup>
          <h1><a href='#'>Cherrytree</a></h1>
          <p>A hierarchical stateful router. <%- rnd %></p>
        </hgroup>
        <nav>
          <ul>
            <li><a href='{{link:about}}'>About</a></li>
            <li><a href='{{link:posts.index}}'>Blog</a></li>
          </ul>
        </nav><a id='slide-menu-button' class='topcoat-icon-button--large--quiet'><span class='topcoat-icon--large topcoat-icon--menu-stack'></span></a>
      </div>
    </header>
    <div id='content' class='outlet max-width'></div>
    <footer></footer>
  </div>
</div>